$leyenda: #4D4545;

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 2em;
	height: 75px;
	z-index: 2;
	transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
	&--scrolled {
		background: #fff;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	}
	&--move-up {
		transform: translateY(-75px);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
	}
	&__logo {
		color: #000;
	}
	&__link {
		margin-left: 1em;
		color: #000;
	}
}